# Files and folders created by ./autogen.sh, and ./configure
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/test-driver
/ylwrap
Makefile
Makefile.in

# pkg-config files
*.pc

# Files created by `make check'
/tests/*-test
/tests/*.log
/tests/*.trs

# pkg-config files
*.pc

# Files and folders created by libtool
.libs/
*.l[oa]

# Files and folders created by compilation
.deps/
*.[oa]

# Core dumps
core
vgcore.*
