# Files and folders created by aclocal, autoconf, automake, and libtoolize
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
Makefile
Makefile.in

# Test executables
/tests/*-test

# Files and folders created by libtool
.libs/
*.l[oa]

# Files and folders created by compilation
.deps/
*.[oa]
